/*VAN START*/
body {
  font-family: "Lato", sans-serif;

}

.epic-list {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.epic-list a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.epic-list a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.epic-list .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
/*VAN END*/

.angular-google-map-container { 
	height: 80vh; 
}

#map {
  height: 100vh;
}

#main {
  height: 100vh;
}


#marker {
  height: 5px,
}

.h1_title {
  margin: 0 auto 5px auto;
  text-align: center;
}
.window_info{
  color: violet;
  text-align: center;
}

.window_info:hover{
  text-decoration: none;
  color: blue;
}
