<h1 class="h1_title">Epics<a data-ui-sref="epicNew">(+)</a></h1>

<button type="button" data-ng-if="!HomeIndexCtrl.showNew" data-ng-click="HomeIndexCtrl.toggleNew()">Create</button>
<button type="button" data-ng-if="HomeIndexCtrl.showNew" data-ng-click="HomeIndexCtrl.toggleNew()">Cancel</button>

<div class="create-form" data-ng-show="HomeIndexCtrl.showNew">
<form>
   <input placeholder = "Name" data-ng-model="HomeIndexCtrl.epic.name" />
   <input placeholder = "Title" data-ng-model="HomeIndexCtrl.epic.title" />
   <input placeholder = "Summary" data-ng-model="HomeIndexCtrl.epic.summary" />
   <input placeholder = "Image URL" data-ng-model="HomeIndexCtrl.epic.img_url" />
<button type="button" data-ng-if ="HomeIndexCtrl.showNew"
  data-ng-click="HomeIndexCtrl.create()">Create</button>
</div>

<ui-gmap-google-map options="options" center='map.center' zoom='map.zoom'
  id="map" events="options.events">
	<script id="searchbox.tpl.html" type="text/ng-template">
		<form>
			<input placeholder="Epic Location..." type="text" ng-model="text" name="text" /
      style="width:400px">
		</form>
	</script>
	<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
	<ui-gmap-markers models="markers" coords="'coords'"
    options="markersOptions.options" click="markerClick" >
</ui-gmap-google-map>
</div>
