<h1> Add an Epic </h1>

<form>
   <input placeholder = "Name" data-ng-model="HomeNewCtrl.epic.name" />
   <input placeholder = "Title" data-ng-model="HomeNewCtrl.epic.title" />
   <input placeholder = "Summary" data-ng-model="HomeNewCtrl.epic.summary" />
   <input placeholder = "Image URL" data-ng-model="HomeNewCtrl.epic.img_url" />
   <button type="button" data-ng-click="HomeNewCtrl.create()">Create</button>
</form>

<ui-gmap-google-map options="options" center='map.center' zoom='map.zoom' id="map" events="options.events" >
	<script id="searchbox.tpl.html" type="text/ng-template">
		<form>
			<input placeholder="Search..." type="text" ng-model="text" name="text" />
		</form>
	</script>
	<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
	<ui-gmap-markers models="markers" coords="'coords'" options="markersOptions.options" events="map.markerHover" >
    <ui-gmap-windows show="'model.show'" id="window">
      <p ng-non-bindable>{{title}}</p>
    </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>
