<h1> Epic Show </h1>
<a data-ui-sref="storyNew"> (+) story </a>
<p> {{HomeShowCtrl.epic.title}}</p>

<form>
  <input placeholder = "Title" data-ng-model="HomeShowCtrl.story.title" />
  <input placeholder = "Map Location" data-ng-model="HomeShowCtrl.story.map_loc" />
  <input placeholder = "Media URL" data-ng-model="HomeShowCtrl.story.media_url" />
  <input placeholder = "Summary" data-ng-model="HomeShowCtrl.story.summary" />
  <button type="button" data-ng-click="HomeShowCtrl.create()">Create</button>
</form>

<div data-ng-repeat="story in stories">
  <h1> {{story.title}} </h1>
  <a src={{story.map_loc}}> Map Location </a>
  <p> {{story.summary}} </p>
  <img src={{story.media_url}}>
</div>
